TestSur/Connected Services/SR1/metadata.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="Horace" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="Horace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="Horace/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd0" namespace="Horace" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd2" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Net.Sockets" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Icl_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="Icl_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="Icl_GetServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServer" />
  </wsdl:message>
  <wsdl:message name="Icl_GetServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerResponse" />
  </wsdl:message>
  <wsdl:message name="Icl_GetServer_WCFErrorFault_FaultMessage">
    <wsdl:part name="detail" element="tns:WCFError" />
  </wsdl:message>
  <wsdl:message name="Icl_PingSer_InputMessage">
    <wsdl:part name="parameters" element="tns:PingSer" />
  </wsdl:message>
  <wsdl:message name="Icl_PingSer_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingSerResponse" />
  </wsdl:message>
  <wsdl:portType name="Icl">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="Horace/Icl/Login" message="tns:Icl_Login_InputMessage" />
      <wsdl:output wsaw:Action="Horace/Icl/LoginResponse" message="tns:Icl_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <wsdl:input wsaw:Action="Horace/Icl/GetServer" message="tns:Icl_GetServer_InputMessage" />
      <wsdl:output wsaw:Action="Horace/Icl/GetServerResponse" message="tns:Icl_GetServer_OutputMessage" />
      <wsdl:fault wsaw:Action="Horace/Icl/GetServerWCFErrorFault" name="WCFErrorFault" message="tns:Icl_GetServer_WCFErrorFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PingSer">
      <wsdl:input wsaw:Action="Horace/Icl/PingSer" message="tns:Icl_PingSer_InputMessage" />
      <wsdl:output wsaw:Action="Horace/Icl/PingSerResponse" message="tns:Icl_PingSer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>