TestSur/Connected Services/ServiceReference2/metadata3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="Horace" elementFormDefault="qualified" targetNamespace="Horace" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:9999/cl/metadata?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pswd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="WCFError">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WCFError" nillable="true" type="tns:WCFError" />
  <xs:element name="PingSer">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="serid" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="Address" nillable="true" type="q1:IPAddress" />
        <xs:element minOccurs="0" name="RtT" type="xs:long" />
        <xs:element minOccurs="0" name="Ttl" type="xs:int" />
        <xs:element minOccurs="0" name="DF" type="xs:boolean" />
        <xs:element minOccurs="0" name="BfL" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingSerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingSerResult" type="xs:int" />
        <xs:element minOccurs="0" name="RtT" type="xs:long" />
        <xs:element minOccurs="0" name="Ttl" type="xs:int" />
        <xs:element minOccurs="0" name="BfL" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>